*/__pycache__
__pycache__
logs
venv
.idea
.DS_Store
storage/succession/test_version/*
storage/succession/test_version
storage/succession/test_version/
./storage/test_version/*
./storage/test_version
./storage/test_version/
storage/.DS_Store
./storage/saving
storage/inputs
storage/new_test_version
temp_log
process_logs
cache_folder
debug.py
logs/gpt_logs

temp_log_dir